<div style="padding: 10px; color:#222;font-size:16px; line-height:1.6;">
  <strong>Olá, {{ student }} </strong><br>
  <p>Venho lhe que sua seu pedido de ajuda acaba de ser respondid:</p><br>
  <strong>Seu pedido: {{ question }} </strong><br>
  <i><strong>Resposta:</strong> {{ answer }} </i><br>
  <p>Para mais detalhes, envie um email para: <strong>suporte@gympoint.com</strong></p><br>
</div>
