<div style="padding: 10px; color:#222;font-size:16px; line-height:1.6;">
  <strong>Olá, {{ student }} </strong><br>
  <p>Venho lhe parabenizar e te dar as boas vindas ao GymPoint.</p><br>
  <strong>Seu plano: {{ plan }} </strong><br>
  <strong>Termina em: {{ end_date }} </strong><br>
  <strong>Valor: R${{ price }},00 </strong><br>
</div>
